<!DOCTYPE html>
<html data-ng-app="drahak.alerts">
	<head>
		<title>AngularJS alerts</title>

		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />

		<script type="text/javascript" src="bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="angular-alerts.js"></script>
		<script type="text/javascript" src="angular-alerts.template.js"></script>
		<script>
			angular.module('drahak.alerts').controller('Example', function($scope, $alert) {
				$scope.successAction = function() {
					$alert('Success alert');
				};
				$scope.errorAction = function() {
					$alert('Error alert', 'error');
				};
			});
		</script>
	</head>
	<body data-ng-controller="Example">
		<div class="container">
			<h1>Alerts</h1>
			<alerts></alerts>
			<button data-ng-click="successAction()" class="btn btn-success">Success</button>
			<button data-ng-click="errorAction()" class="btn btn-danger">Error</button>

			<h1>Single alert</h1>
			<alert type="info" ttl="5000" close="hidden = true" ng-show="!hidden">
				The 'ttl' attribute is optional.
			</alert>
		</div>
	</body>
</html>